/* Coolors Exported Palette - coolors.co/34f6f2-2d2516-d1f5ff-eef8ff-7d53de */

/* HSL */
$color1: hsla(179%, 92%, 58%, 1);
$color2: hsla(39%, 34%, 13%, 1);
$color3: hsla(193%, 100%, 91%, 1);
$color4: hsla(205%, 100%, 97%, 1);
$color5: hsla(258%, 68%, 60%, 1);

/* RGB */
$color1: rgba(52, 246, 242, 1);
$color2: rgba(45, 37, 22, 1);
$color3: rgba(209, 245, 255, 1);
$color4: rgba(238, 248, 255, 1);
$color5: rgba(125, 83, 222, 1);